.fondo {
  background: url(fondo.jpg);
}

a {
    text-decoration: none;
    float: right;
    font-family: 'Monotype Corsiva';
}

.centro {
  background-color: #d41ec6;
  margin: 3%;
  border-radius: 5px;
}

.cabesa {
  text-align: center;
  color: aliceblue;
}

.mari1 {
  margin-top: 8px;
  border-radius: 5px;
  margin-right: 60px;
}

.mari2 {
  margin-top: 8px;
  border-radius: 5px;
  margin-left: 60px;
}

h1 {
  display: contents;
  margin-left: 5%;
  margin-right: 5%;
}

.texto {
  margin-top: 0;
  font-family: cursive;
  font-size: 18px;
  padding: 0 2% 2% 2%;
  text-align: justify;
}

.linea {
  border-top: 3px solid rgb(64, 2, 71);
  margin: 2%;
}
